html,
body {
    margin: 0;
}

header {
    background-color: antiquewhite;
    height: 60px;
}
header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
}

#goto-top {
    background-color: black;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;

    position: fixed;
    right: 40px;
    bottom: 40px;

    opacity: 1;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
   
}
#goto-top:hover {
background-color: teal;
}

.hidden {
    opacity: 0 !important;
    transition: opacity 0.2s ease-in-out;
}
    